*
{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.header
{
    width:100%;
    height:70px;
    background-color:#f99797;
    display:flex;
    justify-content:center;
   
}

.header-container
{
    width:80%;
    height:70px;
    /* background-color:red; */
    display:flex;
    justify-content:space-between;

}

.logo
{
    width:15%;
    height:70px;
    /* background-color:yellow; */
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-family:segoe UI;
   
}

.nav
{
    width: 25%;
    height:70px;
    /* background-color:blue; */
    display:flex;
    align-items:center;
}

.nav-links
{
    width:100%;
    display:flex;
    list-style-type:none;
    /* color:white; */
    justify-content:space-between;
    /* font-size:18px; */
    font-family:segoe UI
}

.nav-item
{
    cursor:pointer;
}



/* banner css */

.banner
{
    width:100%;
    height:700px;
    background-color:#6c6c6c;
    /* background-color:gray; */
    overflow:hidden;
    display:flex;
}

.banner-details
{
    width:60%;
    height:700px;
    background-color:#f96403;
    display:flex;
    justify-content:center;
    align-items:center;
}

.banner-text
{
    width:70%;
    height:500px;
    /* background-color:white; */
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    row-gap:10px;

}

.banner-title
{
    font-size:60px;
    font-family:segoe UI;
    text-transform:uppercase;
    font-weight:300;
}

.highlight
{
    width:60%;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:segoe UI;
    border:10px solid black;
    font-size:120px;
    text-transform:uppercase;
    font-weight:bold;
    color:solid black;

}

/* branding section css */

.branding
{
    width:100%;
    /* height:800px; */
    /* background-color: red; */
    padding:50px 10%;
    display:flex;
    column-gap:5%;
}

.branding-1
{
    width:30%;
    height:600px;
    background-color:#09b1eb;
    background-image:url('images/him.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    padding:100px 5%;
    display:flex;
    align-items:flex-end;
    font-size:40px;
    font-weight:bold;
    font-family:segeo UI;
    color:#09b1eb;
    justify-content:center;
    text-transform:uppercase;
    
}

.branding-2
{
    width:30%;
    height:600px;
    background-color:#f90606;
    background-image:url('images/her.webp');
    background-size:cover;
    background-repeat:no-repeat;
    padding:100px 5%;
    display:flex;
    align-items:flex-end;
    font-size:40px;
    font-weight:bold;
    font-family:segeo UI;
    color:red;
    justify-content:center;
    text-transform:uppercase;
    
}

.branding-3
{
    width:30%;
    height:600px;
    background-color:yellow;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0 5%;
    font-size:40px;
    font-family:segeo UI;

}

.brand-title
{
    background-color:white;
    padding:15px;
}


/* products css */

.products
{
    width:100%;
    height:600px;
    background-color:#f99797;
    padding:50px 10%;
    display:flex;
    justify-content:space-between;
}

.product
{
    /* height:500px; */
    padding-bottom:10px;
    width:20%;
    background-color:yellow;
}

.product-img
{
    height:350px;
    width:100%;
    background-color: blue;
    overflow:hidden;
    display:flex;
}

.product-img{
    width:100%;    
}

.product-details
{
    padding:10px;
    font-family:segeo UI;
    display:flex;
    flex-direction:column;
    row-gap:3px;
}

.btn-1
{
    padding:12px 20px;
    background-color:#f90606;
    border:none;
    color:white;
    text-transform:uppercase;
    border-radius: 5px;
}

.btn-2
{
    padding:12px 20px;
    background-color:skyblue;
    border:none;
    color:white;
    text-transform:uppercase;
    border-radius: 5px;
}